.header {
  width: 100%;
  background-color: #000d1d;
  height: 50px;
  display: flex;
  justify-content: center;
  z-index: 5;
  position: fixed;
  top: 0;
}
.headerWrapper {
  max-width: 90vh;
  display: flex;
  align-items: center;
  padding: 0 16px;
  top: 0;
  width: 100%;
}

.topNav {
  list-style-type: none;
  display: flex;
  margin-top: 5px;
}

.iconLink {
  margin-right: 16px; /* Space between the icons */
  color: white; /* Default color for the icons */
  font-size: 24px; /* Icon size */
  transition: color 0.3s ease; /* Smooth transition for color change */
  text-decoration: none; /* Remove underline from links */
}

/* Hover effect */
.iconLink:hover {
  color: fuchsia; /* Change to fuchsia on hover */
}
